<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'codes.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <label for="check" >
            <input type="checkbox" id="check" onclick="clickNav()"/> 
            <span></span>
            <span></span>
            <span></span>
        </label>
        <div class="name">генератор задач</div>
    </header>
    <nav id="navigation">
        <div class="siteNav">
            <a href="/">Главная страница &#10142;</a>
            <a href="/parity/">Проверка на чётность &#10142;</a>
            <a href="/hamming/">Код Хэмминга &#10142</a>
        </div>
        <div class="contents">Оглавление</div>
        <!--
        <ul>
            {% for paragraf in paragrafs %}
            <li onclick="goToParagraf('{{ paragraf.position }}')"><a>{{ paragraf.paragraf_name }}</a></li>
            {% endfor %}
        </ul>
        -->
    </nav>
    <div id="wrap">
        <main>
            <div class="paragraf" style="padding-bottom: 50px;">
                <div class="label">Lorem ipsum dolor sit amet.</div>
                <div class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque expedita, libero illum asperiores ut enim voluptate. Minima nemo eos voluptates. </div>
            </div>
        </main>
    </div>
    <footer id="footer">
        <a href="https://github.com/kalibdune/web_theory_of_coding" target="_blank">github сайта</a>
        <a href="https://github.com/kalibdune/theory_of_coding" target="_blank">github десктопного приложения</a>
    </footer>
    <script>
        var nav_open = false
        var nav = document.getElementById("navigation")
        function clickNav(){
           if (nav_open == false){
                nav.id = 'openNav'
                nav_open = true
           } else {
                nav.id = 'navigation'
                nav_open = false
           }
        }

        function goToParagraf(number){
            let paragraf = document.getElementById(`${number}`)
            paragraf.scrollIntoView({block: "center", behavior: "smooth"})
        }
    </script>
</body>
</html>