<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'codes.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <label for="check" >
            <input type="checkbox" id="check" onclick="clickNav()"/> 
            <span></span>
            <span></span>
            <span></span>
        </label>
        <div class="name">генератор задач</div>
    </header>
    <nav id="navigation">
        <div class="siteNav">
            <a href="/">Главная страница &#10142;</a>
            <a href="/parity/">Проверка на чётность &#10142;</a>
            <a href="/hamming/">Код Хэмминга &#10142</a>
            <a href="/reed_solomon/">Код Рида Соломона &#10142;</a>
        </div>
        <div class="contents">Оглавление</div>
        <ul>
            <li onclick="goToParagraf('base')">
                <a>Задачи базового уровня</a>
            </li>
            <li onclick="goToParagraf('norm')">
                <a>Задачи среднего уровня</a>
            </li>
            <li onclick="goToParagraf('high')">
                <a>Задачи повышенного уровня</a>
            </li>
        </ul>
    </nav>
    <div id="wrap">
        <main>
            <div class="paragraf" style="padding-bottom: 50px;" id="base">
                <div class="label">Задачи базового уровня</div>
                {% for task2 in tasks2 %}

                <div class="task">
                    <div class="text">{{ task2.text }}</div>
                    <p><a onclick="changeVisibility('{{ task2.id }}')" style="color: black">показать ответ</a></p>
                    <div class="answer" id="{{ task2.id }}" style="visibility: hidden;">ответ: {{ task2.answer }}</div>
                </div>

                {% endfor %}
            </div>
            <div class="paragraf" style="padding-bottom: 50px;" id="norm">
                <div class="label">Задачи среднего уровня</div>
                {% for task3 in tasks3 %}

                <div class="task">
                    <div class="text">{{ task3.text }}</div>
                    <p><a onclick="changeVisibility('{{ task3.id }}')" style="color: black">показать ответ</a></p>
                    <div class="answer" id="{{ task3.id }}" style="visibility: hidden;">ответ: {{ task3.answer }}</div>
                </div>

                {% endfor %}
            </div>
            <div class="paragraf" style="padding-bottom: 50px;" id="high">
                <div class="label">Задачи повышенного уровня</div>
                {% for task5 in tasks5 %}

                <div class="task">
                    <div class="text">{{ task5.text }}</div>
                    <p><a onclick="changeVisibility('{{ task5.id }}')" style="color: black">показать ответ</a></p>
                    <div class="answer" id="{{ task5.id }}" style="visibility: hidden;">ответ: {{ task5.answer }}</div>
                </div>

                {% endfor %}
            </div>
        </main>
    </div>
    <footer id="footer">
        <a href="https://github.com/kalibdune/web_theory_of_coding" target="_blank">github сайта</a>
        <a href="https://github.com/kalibdune/theory_of_coding" target="_blank">github десктопного приложения</a>
    </footer>
    <script>
        var nav_open = false
        var nav = document.getElementById("navigation")
        var state = false
        function clickNav(){
           if (nav_open == false){
                nav.id = 'openNav'
                nav_open = true
           } else {
                nav.id = 'navigation'
                nav_open = false
           }
        }

        function goToParagraf(number){
            let paragraf = document.getElementById(`${number}`)
            paragraf.scrollIntoView({block: "center", behavior: "smooth"})
        }
        function changeVisibility(pos){
            let elem = document.getElementById(`${pos}`)
            
            if(elem.style.visibility == 'visible'){
                elem.style.visibility = 'hidden'
            } else {
                elem.style.visibility = 'visible'
            }
        }
    </script>
</body>
</html>