*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

header{
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: rgba(0,0,0,0.85);
}

header a{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}

#navigation{
    z-index: 0;
    position: fixed;
    margin-top: 10vh;
    height: 100vh;
    display: none;
    background-color: white;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5);
}

#openNav{
    z-index: 0;
    position: fixed;
    margin-top: 10vh;
    display: flex;
    color: black;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    width: 30%;

    background-color: white;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5);

    animation: openNavNorm 0.3s normal ease-out;
}

#openNav a{
    font-size: 1.5em;
    color: black;
}

label{
    display:flex;
    flex-direction:column;
    width:70px;
    cursor:pointer;
    margin-right: 30px;
   }
   
label span{
    background: #fff;
    border-radius:10px;
    height:5px;
    margin: 7px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}


span:nth-of-type(1){
    width:50%;
    
}

span:nth-of-type(2){
    width:100%;
}


span:nth-of-type(3){
    width:75%;

}


input[type="checkbox"]{
    display:none;
}


input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(8px,0px)
}


input[type="checkbox"]:checked ~ span:nth-of-type(2){
    
    transform-origin:top;
    transform:rotatez(-45deg)
}


input[type="checkbox"]:checked ~ span:nth-of-type(3){
    
    transform-origin:bottom;
    width:50%;
    transform: translate(30px,-11px) rotatez(45deg);

}

li{
    padding-top: 10px;
    font-size: 1.1em;
    width: 100%;
}

li a:hover{
    cursor: pointer;
}

.contents{
    font-size: 1.8em;
    padding-top: 40px;
}

.siteNav{
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

.name{
    color:white;
    font-size: 2em;
}

main{
    padding-top:150px;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

#wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.paragraf{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.label{
    font-size: 2em;
    display: flex;
    justify-content: center;
    text-align: center;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-bottom: 40px;
    font-size: 1em;
}

footer{
    width: 100%;
    height: 200px;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a{
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 1.25em;
}

footer a:hover{
    text-decoration:underline;
}

@keyframes openNavNorm{
    from{
        width: 0%;
    }

    to{
        width: 30%;
    }
}

@keyframes openNav768{
    from{
        width: 0%;
    }

    to{
        width: 50%;
    }
}

@keyframes openNav425{
    from{
        width: 0%;
    }

    to{
        width: 60%;
    }
}

@media(max-width: 1100px){
    .contents{
        font-size: 1.5em;
    }
    #openNav a {
        font-size: 1.15em;
    }
    .siteNav{
        font-size: 1.2em;
    }
}

@media(max-width: 768px){
    header{
        font-size: 1em;
    }

    #openNav {
        width: 50%;
        animation: openNav768 0.3s normal ease-out;
    }
}

@media(max-width: 425px){
    header{
        font-size: 0.8em;
    }
    .label{
        font-size: 1.5em;
    }
    main{
        width: 90vw;
    }
    label{
        width: 50px;
    }
    input[type="checkbox"]:checked ~ span:nth-of-type(3){
    
        transform-origin:bottom;
        width:60%;
        transform: translate(20px,-15px) rotatez(45deg);
    
    }

    #openNav{
        width: 60%;
        animation: openNav425 0.3s normal ease-out;
    }

    label{
        margin-right: 20px;
    }

}

@media(min-width:1440px){
    main{
        width: 60vw;
    }
}