<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проверка на чётность</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'codes.css' %}">
<body>
    <header>
        <div class="name">Проверка на чётность</div>
    </header>
    <div class="wrap">
        <main>
            {% for paragraf in paragrafs %}
            <div class="paragraf" style="padding-bottom: 50px;">
                <div class="label">{{ paragraf.paragraf_name|safe }}</div>
                <div class="text">{{ paragraf.paragraf_content|safe }}</div>
            </div>
            {% endfor %}
        </main>
    </div>
    <footer>
        <a href="https://github.com/kalibdune/web_theory_of_coding" target="_blank">github сайта</a>
        <a href="https://github.com/kalibdune/theory_of_coding" target="_blank">github десктопного приложения</a>
    </footer>
</body>
</html>