<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пособие по теории кодирования информации</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
</head>
<body>
    <header>
        <div class="header_text">
            <p>Пособие по теории кодирования информации</p>
            <div class="arrow_down" onclick="slide()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    <main>
        <div class="main" id="main">
            <div class="title">
                Цель проекта
            </div>
            <div class="aim">
                Наш проект приследует цель: помочь школьникам разобраться в помехоустойчивом кодировании.<br/>
                Мы предоставляем ученикам пособие по кодам: проверка на чётность, код Хэмминга и код Рида Соломона.<br/>Также нашей командой был разработан генератор задач для интелектуального мегаполиса в качестве отработки пройденного материала по коду Хэмминга.
            </div>
            <div class="links">
                демонстрация кодов онлайн
            </div>
            <div class="buttons">
                <button class="custom-btn btn-5" style="margin:50px;" onclick="window.location.href='/parity'"><span>Код проверки на чётность</span></button>
                <button class="custom-btn btn-5" style="margin:50px;" onclick="window.location.href='/hamming'"><span>Код Хэмминга</span></button>
            </div>
            <p class="desk">Десктопное приложение</p>
            <div class="aim">
                В рамках школьного конкурса проектных работ, 2021-2022 годов, нашей командой было разработано open source десктопное приложение для наглядной демонстрации помехоустойчивых кодов.<br/>
                приложение работает на платформах: Windows 7/10/11 и дистрибутивах linux.
            </div>
            <div class="app">
                <div class="imagies">
                    <img src="{% static 'parity.jpg' %}" alt="parity">
                    <img src="{% static 'hamming.jpg' %}" alt="hamming">    
                </div>
            </div>
            <div class="download">
                <button class="custom-btn btn-5" style="margin:50px ;" onclick="window.location.href='#'"><span>скачать приложение</span></button>
            </div>
        </div>
    </main>
    <footer>
        <a href="https://github.com/kalibdune/web_theory_of_coding" target="_blank">github сайта</a>
        <a href="https://github.com/kalibdune/theory_of_coding" target="_blank">github десктопного приложения</a>
    </footer>

    <script>
        window.addEventListener('scroll', ()=>{
            arrow_down = document.getElementsByClassName('arrow_down')
            if (pageYOffset >= 100){
                for(let x = 0; x < arrow_down.length; x++){
                    arrow_down[x].style.visibility = "hidden"
                }
            } else {
                for(let x = 0; x < arrow_down.length; x++){
                    arrow_down[x].style.visibility = "visible"
                }
            }
        })
        function slide(){
            main = document.getElementById('main')
            main.scrollIntoView(top, behavior="smooth")
        }
    </script>
</body>
</html>